@import 'core.scss';

.main {
  background-color: var(--light);
  border-bottom: 1px solid var(--black);
  position: fixed;
  width: 100%;
  z-index: 9;
}

.main::after {
  content: '';
  background-image: url('/noisy-2.png');
  background-size: 75px 75px;
  opacity: 0.4;
  top: 0;
  left: 0;
  height: 3.3rem;
  right: 0;
  position: fixed;
  pointer-events: none;
  z-index: 0;
}

.inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: calc(100% - 4rem);

  @media (max-width: $m) {
    padding-top: 1rem;
    width: calc(100% - 2rem);
  }
}

.drawerOpen {
  color: var(--light);

  .inner {
    //border-bottom: 1px solid var(--light);
  }
}
