@import 'core.scss';

.scroller {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}

.main {
  padding: 0 2rem;
  padding-bottom: max(2vw, 1.5rem);
  padding-top: max(6vw, 6rem);
  position: relative;

  @media (max-width: $m) {
    padding: 0 1rem;
    padding-bottom: max(2vw, 1.5rem);
    padding-top: max(6vw, 6rem);
  }
}
