@import 'core.scss';

.h1 {
  font-size: 4.25vw;
  line-height: 1;
  margin: 0;
  max-width: 75vw;

  @media (max-width: $m) {
    font-size: 3rem;
    max-width: 100%;
  }

  @media (max-width: $s) {
    font-size: 2.2rem;
    line-height: 0.8;
  }
}

.intro {
  margin-top: 2rem;
}

.description .list {
  list-style: none;
  padding: 0;
  width: 100%;

  .link {
    margin-top: 0.5em;
  }
}

.assignments {
  max-width: 400px;
  text-transform: none;
}
