@import 'core.scss';

.header {
  margin-inline: auto;
  width: calc(100% - 4rem);

  @media (max-width: $m) {
    width: calc(100% - 2rem);
  }
}

.h1 {
  font-size: max(5vw, 2.2rem);
  line-height: 1;
  margin: 0;
  max-width: 75vw;

  @media (max-width: $m) {
    line-height: 1.25;
    max-width: 100%;
  }
}

.wordWrapper {
  display: inline-block;
  line-height: 0.8;
  margin-right: 0.2em;
  overflow: hidden;

  .wordSpan {
    display: block;
  }
}

.mail {
  align-items: center;
  color: var(--black);
  display: inline-flex;
  font-size: max(1.5vw, 21px);
  margin-top: 1rem;
}

.mail::before {
  background-color: var(--accent);
  content: '';
  display: inline-block;
  border-radius: 4px;
  height: 8px;
  margin-right: 0.5rem;
  width: 8px;
}

.mail:hover {
  color: var(--accent);
}

.about,
.services,
.clients {
  margin-inline: auto;
  margin-top: 6rem;
  width: calc(100% - 4rem);

  @media (max-width: $m) {
    width: calc(100% - 2rem);
  }
}

.h2,
.link {
  align-items: center;
  display: flex;
  font-size: 1rem;
}

.link {
  align-items: flex-start;
  max-width: 300px;
}

.services .h2 {
  justify-content: flex-end;
}

.services .ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link:hover {
  color: var(--accent);
}

.h2::before {
  background-color: var(--black);
  content: '';
  display: inline-block;
  height: 1px;
  margin-right: 0.5rem;
  width: 2rem;
}

.link::before {
  background-color: var(--accent);
  content: '';
  display: inline-block;
  border-radius: 4px;
  height: 8px;
  margin-right: 0.5rem;
  margin-top: 5px;
  min-width: 8px;
}

.p {
  font-size: max(3.2vw, 1.7rem);
  margin: 0;
  margin-bottom: 2rem;
  max-width: 60vw;

  @media (max-width: $m) {
    max-width: 100%;
  }
}

.li {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  font-size: max(3.2vw, 1.5rem);

  &:hover a {
    color: var(--accent);
  }
}

.li::before {
  background-color: var(--accent);
  content: '';
  display: inline-block;
  border-radius: 4px;
  height: 8px;
  margin-right: 0.5rem;
  width: 8px;
}

.references {
  font-size: max(3.2vw, 1.5rem);
  list-style: none;
  margin: 0;
  padding: 0;
}

.reference {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  position: relative;

  .year {
    font-size: 1rem;
    margin-left: 0.25rem;
  }
}
