@import 'core.scss';

.header {
  margin: 0 auto;
  width: 100%;
}

.h1 {
  font-size: 4.25vw;
  line-height: 1;
  margin: 0;
  max-width: 75vw;

  @media (max-width: $m) {
    font-size: 3rem;
    max-width: 100%;
  }

  @media (max-width: $s) {
    font-size: 2.2rem;
    line-height: 0.8;
  }
}

.wordWrapper {
  display: inline-block;
  line-height: 0.9;
  margin-bottom: -0.1em;
  margin-right: 0.2em;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  overflow: hidden;

  .wordSpan {
    display: block;
    margin-bottom: -0.05em;
  }
}

.wordContainer {
  margin-top: 3em;
}

.mail {
  align-items: center;
  color: var(--black);
  display: inline-flex;
  font-size: max(1.5vw, 21px);
  margin-top: 1rem;
}

.mail::before {
  background-color: var(--accent);
  content: '';
  display: inline-block;
  border-radius: 4px;
  height: 8px;
  margin-right: 0.5rem;
  width: 8px;
}

.mail:hover {
  color: var(--accent);
}

.about,
.services,
.how,
.clients {
  margin: 0 auto;
  margin-top: 6rem;
  position: relative;
  width: 100%;
  z-index: 1;
}

.how {
  margin: 12rem auto;
  max-width: 64vw;

  @media (max-width: $m) {
    margin: 6rem auto;
    max-width: $m;
  }
}

.how .wordWrapper {
  font-size: max(3.2vw, 1.6rem);
  line-height: 1.1;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 75vw;

  @media (max-width: $m) {
    line-height: 1.25;
    max-width: 100%;
  }

  &:last-of-type {
    font-weight: bold;
  }
}

.h2,
.link {
  align-items: center;
  display: flex;
  font-size: 1rem;
}

.link {
  align-items: flex-start;
  max-width: 300px;
}

.services .h2 {
  justify-content: flex-end;
}

.services .ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link:hover {
  color: var(--accent);
}

.h2::before {
  background-color: var(--black);
  content: '';
  display: inline-block;
  height: 1px;
  margin-right: 0.5rem;
  width: 2rem;
}

.link::before {
  background-color: var(--accent);
  content: '';
  display: inline-block;
  border-radius: 4px;
  height: 8px;
  margin-right: 0.5rem;
  margin-top: 0.4vw;
  min-width: 8px;

  @media (max-width: $m) {
    margin-top: 5px;
  }
}

.p {
  font-size: max(3.2vw, 1.6rem);
  margin: 0;
  margin-bottom: 2rem;
  max-width: 60vw;

  @media (max-width: $m) {
    max-width: 100%;
  }
}

.li {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  font-size: max(3.2vw, 1.6rem);

  &:hover a {
    color: var(--accent);
  }
}

.li::before {
  background-color: var(--accent);
  content: '';
  display: inline-block;
  border-radius: 4px;
  height: 8px;
  margin-right: 0.5rem;
  width: 8px;
}

.references {
  font-size: max(3.2vw, 1.5rem);
  list-style: none;
  margin: 0;
  padding: 0;
}

.reference {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  position: relative;

  .year {
    font-size: 1rem;
    margin-left: 0.25rem;
  }
}

.tagline {
  font-size: max(1.1vw, 1em);
  margin-top: 2rem;
  max-width: 29vw;
  text-transform: none;

  @media (max-width: $m) {
    max-width: 100%;
  }
}

// Case styling
.intro {
  margin-top: 2rem;
}

.description .list {
  list-style: none;
  padding: 0;
  width: 100%;

  .link {
    margin-top: 0.5em;
  }
}

.assignments {
  font-size: max(1.1vw, 1em);
  margin-top: 3vw;
  max-width: 29vw;
  text-transform: none;

  @media (max-width: $m) {
    max-width: 100%;
  }
}

.hero {
  margin-top: 3vw;

  @media (max-width: $m) {
    margin-top: 2rem;
  }

  .heroImage {
    margin-left: -2rem;
    margin-right: -2rem;

    @media (max-width: $m) {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
}

.heroList {
  display: flex;
  list-style: none;
  margin-top: 3vw;
  padding: 0;

  @media (max-width: $m) {
    display: block;
    margin-top: 2rem;
  }

  .link {
    font-size: max(1.1vw, 1em);
    padding-right: 10rem;
    min-width: 50%;

    @media (max-width: $m) {
      margin-bottom: 2rem;
      min-width: 100%;
      padding-right: 0;
    }
  }

  .kunde,
  .periode {
    font-size: max(1.1vw, 1em);
    text-transform: none;
    width: 15%;

    @media (max-width: $m) {
      width: 100%;
    }
  }
}

.resume {
  margin-left: 50%;
  margin-right: 4rem;
  margin-top: 3vw;

  @media (max-width: $m) {
    margin-left: 0;
    margin-right: 0;
  }
}

.resume p {
  font-size: max(1.5vw, 1.25em);
  line-height: 1.5;
  margin: 0;
  text-transform: none;
}

.isAService {
  margin-bottom: 6vw;
  margin-top: 6vw;

  @media (max-width: $m) {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}

// WaterFall styling

.waterFall {
  margin: 0 auto;
  width: 100%;

  .inner {
    display: block;
    margin: 0 auto;
    max-width: 80vw;
    width: 100%;

    @media (max-width: $m) {
      max-width: 100%;
    }

    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  .drop {
    display: block;
    margin-top: 12vw;
    width: 100%;

    @media (max-width: $m) {
      max-width: 100% !important;
    }
  }

  .drop:nth-of-type(even) {
    margin-top: 16vw;
  }

  .drop:first-of-type {
    margin-top: 0;
  }

  video {
    display: block;
    width: 100%;
  }

  p {
    display: block;
    font-size: 1.1em;
    text-align: left;
    text-transform: none;
    max-width: 340px;
    width: 100%;

    &:before {
      background-color: var(--accent);
      border-radius: 4px;
      content: '';
      display: inline-block;
      height: 8px;
      margin-right: 0.5em;
      width: 8px;
    }
  }

  .drop[data='left'] {
    float: left;
  }

  .drop[data='right'] {
    float: right;
  }
}
